.Logo {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}
.Logo img {
  height: 1.7rem;
  margin: .5rem;
}

.Logo div{
  font-size: 1.5rem;
  color: #ffcc00;
  position: relative;
  bottom: -5px;
  left: -40px;
}

@media (max-width: 549px) {
  .Logo{
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .Logo div{
    left: -4.5rem;
  }
}
