.SatelliteControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
}
.SatelliteControl .satellite div {
  position: static;
  margin: 0 .5rem;
}

.satellite{
  font-size: 1.5rem;
  margin: .5rem;
}

.ControlLine{
  display: flex;
  justify-content: space-between;
  width: 80%;
}