.SatellitesControl{
    flex: 0 0 15rem;
    background-color: rgb(37, 45, 56);
    border-radius:  1rem;
    padding: 2rem;
    color: blanchedalmond;
    text-align: center;
}
.SatellitesControl p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}