.SatellitePreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: rotate(0);
  animation: orbit-rotate 20s infinite ;
}

.video{
  width: 500px;
  height: 500px;
}

.results{
  display: flex;
  flex-wrap: wrap;
}


@keyframes planet-movement{
  0%{
      left: -300px;

  }
  100%{
      left: 300px;
  }
}
/* @keyframes orbit-rotate{
  0%{
    transform: rotate(0);

  }
  100%{
    transform: rotate(360deg);
  }
} */