.content {
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  width: 40%;
  left: 20%;
  border-radius: 15px;
  top: 10%;
  padding: 1rem 2rem;
  transition: transform .3s ease-out;
} 

  @media (max-width: 632px) {
    .content{
      
      padding: 1rem .5rem;
    }
  }
  @media (max-width: 485px) {
    .content{
      width: 80%;
      /* left: 0; */
      padding: 1rem .5rem;
    }
  }