.NavItem{
    list-style-type: none;
}

.NavItem a{
    text-decoration: none;
    color: aliceblue;
    padding: 1.5rem;
    border-bottom: 1px solid #000;
}

.NavItem a:hover{
    color: #888888;
}

.NavItem a:active,
.NavItem a.active{
    color: #ffcc00;
}