.NavItem{
    list-style-type: none;
}

.NavItem a{
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    border-bottom: 5px solid transparent;
    transition: all .2s ease-in;
}

.NavItem a:hover{
    border-color: #ffcc00;
    color: #888888;
}

.NavItem a:active,
.NavItem a.active{
    color: #ffcc00;
}