@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: rgb(24, 24, 24);
}